<body>

<h1>My Library</h1>
<h3>There are currently {{getNumberOfBooks()}} books in this Library</h3>

<!-- Select a book -->
<div id="display" *ngIf="selected">
  <h2>{{selected.name}}</h2>
  <li>Author: {{selected.author}}</li>
  <li>Genre: {{selected.genre}}</li>
  <li>Format: {{selected.format}}</li>
  <li>Length: {{selected.length}}</li>
  <li>Description: {{selected.description}}</li>
  <button class="btn btn-info" (click)="selected = null">Back</button>
  <button (click)="deleteBook(selected.id)" class="btn btn-danger">Delete</button>
  <button (click)="setEditBook()" class="btn btn-warning">Update</button>
</div>

<!-- Add a book -->
<div id="book" *ngIf="!selected">
  <form (ngSubmit)="createBook(createForm.value)" #createForm="ngForm">
    <label for="name">Name:</label><br>
    <input type="text" name="name" [(ngModel)]="newBook.name"><br>

    <label for="author">Author:</label><br>
    <input type="text" name="author" [(ngModel)]="newBook.author"><br>

    <label for="genre">Genre:</label><br>
    <input type="text"  name="genre" [(ngModel)]="newBook.genre"><br>

    <label for="format">Format:</label><br>
    <input type="text" name="format" [(ngModel)]="newBook.format"><br>

    <label for="length">Length:</label><br>
    <input type="number"  name="length" [(ngModel)]="newBook.length"><br>

    <label for="description">Description:</label><br>
    <textarea name="description" [(ngModel)]="newBook.description"></textarea><br>

    <button type="submit" class="btn btn-dark">Add Book To Library</button>
  </form>
</div><br>


<!-- Update book -->
<div *ngIf="editBook">
  <form *ngIf="editBook" (ngSubmit)="updateBook(editBook.id, editBook)" #editForm="ngForm">
    <label for="id">Id:</label>
    <input type="number" id="id" name="id" [(ngModel)]="editBook.id"><br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="editBook.name"><br>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" [(ngModel)]="editBook.author"><br>

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" [(ngModel)]="editBook.genre"><br>

    <label for="format">Format</label>
    <input type="text" id="format" name="format" [(ngModel)]="editBook.format"><br>

    <label for="length">Length</label>
    <input type="number" id="length" name="length" [(ngModel)]="editBook.length"><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" [(ngModel)]="editBook.description"></textarea><br>

    <button type="button" (click)="editBook = null" class="btn btn-success">Cancel</button>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div><br>

<!-- Display Library -->
<div  class="card-text" *ngFor="let book of books" (click)="selected = book">
  <div class="card-body">
    <h5>{{book.name}}</h5>
    <p class="card-text">Author: {{book.author}}</p>
  </div><br>
</div>
</body>
